# MLNN Assignment 1

Due: January 31, 2020

In [1]:
import pandas as pd
import numpy as np
from simple_salesforce import Salesforce
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
from time import sleep

In [2]:
days = 1

In [3]:
hours = days * 24

In [4]:
minutes = hours * 60

In [5]:
seconds = minutes * 60
seconds

86400

In [6]:
def secs_in_day(day):
    hour = day * 24
    minute = hour * 60
    second = minute * 60
    return(second)

In [7]:
secs_in_day(1)

86400

In [8]:
secs_in_day(5)

432000

In [9]:
np.arange(3)

array([0, 1, 2])

In [11]:
letter = [a, b, c, d]

NameError: name 'a' is not defined

In [12]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
letters + numbers

['a', 'b', 'c', 1, 2, 3]

In [13]:
letters * numbers

TypeError: can't multiply sequence by non-int of type 'list'

In [14]:
letters * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [15]:
pd.DataFrame(letters)

   0
0  a
1  b
2  c